body{
    background: #f8f9fa;
}

.header {
    background-color: white;
    height: 50px;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
}

.container {
    width: 90%;
    position: relative;
    margin: 0 auto;
}

.left {
    position: absolute;
    top: 50px;
    left: 0;
    width: 20%;
    height: 1000px;
    background: white;
    display: flex;
    flex-direction: column;
    border: 1px solid #eee;
}

.right {
    position: absolute;
    top: 50px;
    right: 0;
    width: 28%;
    height: 1000px;
    background: white;
    border: 1px solid #eee;
}

.middle {
    margin-left: 23%;
    margin-right: 30%;
    margin-top: 50px;
    background: #f8f9fa;
}

.sideMenu{
    font-weight: bold;
    padding: 2%;
    text-decoration: none;
    color: black;
}

.searchInput{
    margin-left: 38%;
    width: 20%;
    position: absolute;
    border-radius: 15px;
    padding: 0.5%;
    margin-top: 0.5%;
}

.logoutLink{
    position:absolute;
    margin-left:80%;
    margin-top:0.5%;
}

.postLearning{
    border: 1px solid #eee;
    width: 95%;
    margin: auto;
    background-color:white;
    min-height: 100px;
}


.postBtn{
    background-color: #4CAF50;
    color: white;
    padding: 10px 10px;
    border: none;
    cursor: pointer;
    width: 15%;
    margin: auto;
    margin-top: 8px;
    border-radius: 5px ;
    font-weight: 600;
    font-size: 14px;
    margin-left: 80%;
    margin-bottom: 1%;
}

.postBtn:hover {
    opacity: 0.8;
}

[contenteditable=true]:empty:before{
  content: attr(placeholder);
  pointer-events: none;
  display: block; 
  color: gray;
}


.greenFont{
    color: rgb(60, 154, 84);
}

.yellowFont2{
    color: rgb(244, 157, 13);
}

.redFont{
    color: rgb(219, 29, 54);
}

.profileImage{
    border-radius: 50%;
    width: 35px;
    height: 35px;
    margin-top: 10px;
    margin-left: 10px;
}

.profileDetails{
    display: flex;
    flex-direction: row;
    overflow: hidden;
}


.clear{
    clear: both;
}

.contentDiv{
    height: auto;
    border: none;
    outline: none;
    text-align: left;
    color:#2e3134;
    font-family: "Open Sans";
    margin-top: 8px;
}


.postBtn:disabled {
    background-color: #4CAF50;
    border: 1px solid #4CAF50;
    color: #ccc;
    cursor: not-allowed;
    opacity: 0.4;
}

.userPosts{
    border: 1px solid #eee;
    width: 95%;
    margin: auto;
    background-color:white;
    min-height: 100px;
    margin-top: 3%;
}

.postReactionsDiv{
    margin-top: 0%;
}

.postReactionsCountDiv{
    border-bottom: 1px solid rgba(0,0,0,0.15);
    position: relative;
    background: #fff;
    margin-top: 10px;
}

.postReactionsCount{
    padding: 1%;
    color: gray;
    font-size: 13px;
}

/* .postReactionsCountDiv::after{
    background: linear-gradient(to right, rgb(60, 154, 84) 20%,rgb(244, 157, 13) 40%,rgb(219, 29, 54) 100%);
  position: absolute;
  content: '';
  height: 1px;
  right: 0;
  left: 0;
  top: 0;
} */

.postReactionsBtns{
    background:none;
    border: none;
    padding-bottom: 1%;
    padding-top: 1%;
    font-size: 13px;
    color: gray;
    outline: none;
    cursor: pointer;
}

.postReactionsBtns:hover {
    background-color: #eee;
}

.reportPostBtn{
    float:right;
    background:none;
    border: none;
    margin-bottom: 1%;
    font-size: 13px;
    color: gray;
}

.savePostBtn{
    float:right;
    font-size: 13px;
    background-color: transparent;
    /* padding-left: 2%;
    padding-right: 2%;
    margin-right: 5%; */
    padding-left: 15px;
    padding-right: 15px;
    margin-right: 6px;
    border: 1px solid rgb(60, 154, 84);
    color: rgb(60, 154, 84);
    cursor: pointer;
    border-radius: 15px;
    margin-top: 1%;
    outline: none;
}

.savePostBtn:hover{
    background-color: rgb(60, 154, 84);
    color: white;
}

.reportPostBtn{
    float:right;
    font-size: 13px;
    background-color: transparent;
    /* padding-left: 22%;
    padding-right: 22%;
    margin-right: 2%; */
    padding-left: 15px;
    padding-right: 15px;
    margin-right: 12px;
    border: 1px solid rgb(60, 154, 84);
    color: rgb(60, 154, 84);
    cursor: pointer;
    border-radius: 15px;
}
  
  .dropdown {
    position: relative;
    float: right;
    margin-top: 1%;
    z-index: 100;
  }
  
  .dropdownContent {
    position: fixed;
    margin-top: 20px;
    display: none;
    background-color: #ffffff;
    z-index: 500;
    border: 1px solid #eee;
  }
  
  .dropdownContent a {
    color: #2e3134;
    padding: 5px 5px;
    text-decoration: none;
    display: block;
    z-index: 600;
  }

  .dropdownContent a:hover {background-color: #ddd;}
  
  .dropdown:hover .dropdownContent {display: block;}
  
  .dropdown:hover .dropbtn {background-color: #3e8e41;}
/* 
  .commentDivContainer{
      display: none;
  } */

  .commentDiv{
      display: flex;
      flex-direction: row;
  }
  .placeCommentDiv{
      min-height:20px;
      border-radius: 15px;
      outline: none;
      margin-left: 2%;
      margin-top: 15px;
      max-width: 90%;
      min-height: 60px;
  }

  .postCommentBtn{
    background-color: #4CAF50;
    color: white;
    padding: 5px 5px;
    border: none;
    cursor: pointer;
    width: 10%;
    margin: auto;
    margin-top: 8px;
    border-radius: 5px ;
    font-weight: 600;
    font-size: 14px;
    margin-left: 85%;
    margin-bottom: 1%;
  }

  .commentsFromDB{
      border: 1px solid gray;
      margin-left:10px;
      margin-top:16px;
  }